<div class="treatment-container p-5">
  <div class="d-flex justify-content-between justify-content-between border-bottom border-muted align-items-center pb-2 treatment-header">
    <div class="d-flex align-items-center">
      <%= link_to treatments_path, class: "btn-small mb-2" do%>
        <i class="fas fa-arrow-circle-left def-dark"></i> Back
      <% end %>
      <h1 class="ml-2 mb-2"><strong><%= @treatment.name %></strong></h1>
    </div>
    <div class="btn-wraper">
      <% if !@treatment.schedules.empty? %>
        <%= link_to new_treatment_schedule_path(@treatment), class:"btn-small mx-2" do%>
          <i class="fas fa-plus"></i> Add more meds
        <% end %>
      <% end %>
      <%= link_to edit_treatment_path, class:"btn-small mx-2" do%>
        <i class="fas fa-edit"> </i> Edit
      <% end %>
      <%= link_to treatment_path(@treatment), method: :delete, data: {confirm: "Are you sure?"}, class:"btn-small mx-2" do%>
        <i class="fas fa-trash-alt"></i> Delete
      <% end %>
    </div>
  </div>
  <div class="treatment-layout p-3 my-3 d-flex" data-controller="display-cards">
    <div class="container text-center pl-0">
      <div class="treatment-card-container">
        <% if @treatment.schedules.empty? %>
          <div class="empty-meds-display">
            <p class="text-left w-75">Here you can group all your medications that you use in one particular treatment, to treat a specific pain or any grouping of your liking</p>
            <%= link_to new_treatment_schedule_path(@treatment), class:"btn-small mx-2" do%>
              <i class="fas fa-plus"></i> Add a Med
            <% end %>
          </div>
        <% else %>
          <ul style="list-style-type: none" class="treatment-card-grid">
            <% @treatment.schedules.each do  |schedule|%>
              <li>
                <div class="med-long-card treatment-card border-muted" data-display-cards-target="trigger" data-action="click->display-cards#show" id="med_<%= schedule.med.id %>">
                  <%= med_img schedule.med %>
                  <div class="textbox">
                    <h2><%= schedule.med.name %></h2>
                  </div>
                  <div class="p-3">
                    <p class="textbold"><%= schedule.med.stock %></p>
                    in Stock
                  </div>
                </div>
              </li>
              <%# <div class="col-6"> %>
              <%# </div> %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="form-schedule-card treatment-show rounded">
      <div class="schedule-display text-center" data-display-cards-target="output">
        <p id="schedule-display-auto-text"><strong>Click any medication to display it's schedule here!</strong></p>
      </div>
      <% @treatment.schedules.group_by {|sch| sch.med}.values.each do |med_schedules| %>
        <div class="schedule-display d-none" data-display-cards-target="output" id="med_<%= med_schedules.first.med.id %>">
          <div class="times-display">
            <% med_schedules.each do |schedule| %>
              <%# TODO: Fix divs for grid %>
              <i class="fas fa-bell"></i>
              <div class="times-each-display">
                <% schedule.times.each do |time| %>
                  <p><%= time %></p>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="weekday-display">
            <% Schedule::WEEKDAYS.each do |weekday| %>
              <div class="checkbox-label-weekdays <%= med_schedules.any? {|schedule| schedule.weekdays.include?(weekday.second)} ? "active" : "" %>">
                <%= weekday.first %>
              </div>
            <% end %>
          </div>
          <%= link_to schedule_path(med_schedules.first), method: :delete, data: {confirm: "Are you sure?"} do%>
            <i class="fas fa-trash-alt"></i> Delete
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
