<h1>Meds#index</h1>
<div>
  <% @meds.each do |med| %>
    <%= link_to med_path(med) do  %>
      <p><%= med.name%></p>
    <% end %>
    <p><%= med.description %></p>
    <small><%= med.stock %></small>
  <% end %>
</div>
<br>
<%= link_to "NEW MED", new_med_path%>
