<div class="main-container-treatment-2 h-100 p-5 d-flex flex-column">
  <div class="d-flex justify-content-between border-bottom border-muted pb-2">
    <h2>Medicine Inventory </h2>
    <% if !@meds.empty? %>
      <%= link_to new_med_path, class:"btn-small wider" do %>
        <i class="fas fa-plus"></i> New med
      <% end %>
    <% end %>
  </div>
  <div style="overflow-y: auto; overflow-x: hidden;" class="flex-grow-1 px-0 mx-0">
    <% if @meds.empty? %>
      <div class="mt-5 d-flex flex-column">
        <p class="text-black prompt-user">Add your first med here</p>
        <%= link_to new_med_path, class:"primary-btn-blue mt-2" do %>
          <i class="fas fa-plus"></i> Add a new med
        <% end %>
      </div>
    <% elsif @meds.count < 3 %>
      <div class="row justify-content-center">
      <% else %>
        <div class="row justify-content-between no-margin-main-row">
        <% end %>
        <% @meds.each do |med| %>
          <div class="col-md-3 col-xl-2">
            <%# <%= link_to med_path(med) do  %>
              <div class="medcard text-center border border-muted my-3">
                <%= med_img(med) %>
                <div class="text-box mt-2">
                  <h3 class="med-name textbold"><%= med.name%></h3>
                  <%# <% end %>
                  <p class="med-desc text-muted "><%= med.description %></p>
                  <p class="border border-muted"><span class="text-muted">Stock:</span> <strong class="stock"><%= med.stock %> </strong></p>
                </div>
                <%= link_to edit_med_path(med), class:"icon-btn wider" do %>
               <i class="fas fa-edit"></i> Manage
               <% end %>
                <%= link_to med,
                    method: :delete, data: {confirm: "Are you sure?"},   class:"icon-btn wider" do %>
                  <i class="far fa-trash-alt"></i> Delete
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
