<div class="main-container-treatment-2 h-100 p-5 d-flex flex-column">
  <div class="d-flex justify-content-between border-bottom border-muted pb-2">
    <h2>Medicine Inventory </h2>
    <% if !@meds.empty? %>
      <%= link_to new_med_path, class:"btn-small wider" do %>
        <i class="fas fa-plus"></i> New med
      <% end %>
    <% end %>
  </div>
  <div style="overflow-y: auto; overflow-x: hidden;" class="flex-grow-1 px-0 mx-0">
    <% if @meds.empty? %>
      <div class="mt-5 d-flex flex-column">
        <p class="text-black prompt-user">Add your first med here</p>
        <%= link_to new_med_path, class:"primary-btn-blue mt-2" do %>
          <i class="fas fa-plus"></i> Add a new med
        <% end %>
      </div>
    <% elsif @meds.count < 3 %>
      <div class="row justify-content-center">
      <% else %>
        <div class="row justify-content no-margin-main-row">
        <% end %>
        <% @meds.each do |med| %>
          <div class="col-md-3 col-xl-2">
            <%# <%= link_to med_path(med) do  %>
              <div class="medcard text-center border border-muted my-3" data-controller="restock-med">
                <%= link_to edit_med_path(med), class: "w-100" do %>
                  <div id="wrapper">
                <%= med_img(med) %>
                <p class="text text-center">Click to update</p>
                  </div>
                  <% end %>
                <div class="text-box">
                  <h3 class="med-name textbold"><%= med.name%></h3>
                  <%# <% end %>
                  <p class="med-desc text-muted "><%= med.description %></p>
                  <p data-restock-med-target="restock" class="">
                    <span class="text-muted">Stock:</span>
                    <strong class="stock">
                      <%= med.stock %>
                    </strong>
                    <i data-action="click->restock-med#displayForm"class="fas fa-edit icon-stock"></i>
                 </p>
              </div>
                  <%= simple_form_for med, html: {class: "d-none", data: { restock_med_target:"form"} } do |f| %>
                  <div class="d-flex align-items-baseline justify-content-center">
                  <p>Stock:</p>
                    <%= f.input :stock, wrapper_html: {class:"w-50"},input_html: { class: "stock-input"}, label: false %>
                  </div>
                    <%= f.submit "OK", class:"btn-small-2" %>


                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
