<div class="main-container-treatment p-5">
  <div class="d-flex justify-content-between align-items-center border-bottom border-muted pb-2">
    <h2 class="m-0">Edit Profile <%#= resource_name.to_s.humanize %></h2>
    <%#= link_to "Back", :back %>
    <%= link_to profile_dashboard_path, class:"btn-small" do%>
      <i class="fas fa-arrow-circle-left"></i> Back
    <% end %>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="profile-form-input-field">
        <div class="row pt-3">
          <div class="col-md-6">
            <%= f.input :email, required: true, autofocus: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :first_name,
                  required: false,
                  input_html: { autocomplete: "first-name" } %>
            <%= f.input :last_name,
                  required: false,
                  input_html: { autocomplete: "last-name" } %>
            <%= f.input :birthday, required: false, label: 'Date of Birth' %>      
          </div>
          <div class="col-md-6">
            <%= f.input :password, label: "New Password",
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, label: "Confirm New Password",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
            <%= f.input :blood_type, 
            :collection => %w[O- O+ A- A+ B- B+ AB- AB+],
            prompt: "Choose your blood type",
            required: false,
            input_html: { autocomplete: "blood-type" } %>
            <%= f.input :avatar, as: :file, label: "Profile Picture" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions d-flex justify-content-center">
    <%= button_tag(class: "primary-btn-blue pb-3 border-none") do %>
      <i class="fas fa-save mr-2"></i>Update
    <% end %>
  </div>
<% end %>
</div>
