<div class="main-container-treatment p-5">
  <h2>Edit Profile <%#= resource_name.to_s.humanize %></h2>
  <hr class="mb-5">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="profile-form-input-field">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :email, required: true, autofocus: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :first_name,
                  required: false,
                  input_html: { autocomplete: "first-name" } %>
            <%= f.input :last_name,
                  required: false,
                  input_html: { autocomplete: "last-name" } %>
            <%= f.input :birthday, required: false %>
          </div>
          <div class="col-md-6">
            <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
            <%= f.input :blood_type, 
            :collection => %w[O- O+ A- A+ B- B+ AB- AB+],
            prompt: "Choose your blood type",
            required: false,
            input_html: { autocomplete: "blood-type" } %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
  <%= link_to "Back", :back %>
</div>
