<div class="px-5 py-4">
  <div class="d-flex justify-content-between align-items-center border-bottom border-muted pb-2">
    <h2>Profile</h2>
    <%# carer part beginn %>
    <div>
      <% if !current_user.carer.nil? %>
        <i class="fas fa-info-circle mr-2"></i>Care for <%= link_to current_user.carer.first_name, impersonate_user_path(current_user.carer), method: :post %>
      <% else %>
        <% if current_user != true_user%>
          <i class="fas fa-info-circle mr-2"></i><%= true_user.first_name %>, you are caring for <%= current_user.first_name %>
          <%= link_to stop_impersonating_users_path, method: :post do%>
            Back to my profile
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= link_to edit_user_registration_path, data: { turbolinks: false}, class:"btn-small" do%>
      <i class="fas fa-edit"></i> Edit
    <% end %>
  </div>
  <%# carer part ends %>
  <div class="row pt-3">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <%= image_tag @user.avatar_url, class: "profile-avatar"%>
    </div>
    <div class="col-md-6">
      <label for="Firstname" class="mt-0">Firstname</label>
      <li class="rounded list-group-item profile-field">
        <%= @user.first_name %>
      </li>
      <label for="Lastname" class="mt-4">Lastname</label>
      <li class="rounded list-group-item profile-field">
        <%= @user.last_name %>
      </li>
      <label for="Bloodtype" class="mt-4">Bloodtype</label>
      <li class="rounded list-group-item profile-field">
        <%= @user.blood_type %>
      </li>
      <label for="Birthday" class="mt-4">Birthday</label>
      <li class="rounded list-group-item profile-field">
        <%= @user.birthday %>
      </li>
    </div>
  </div>
</div>
</div>
