<div class="p-5 h-100">
  <div class="d-flex justify-content-between align-items-center border-bottom border-muted pb-2">
    <h2>Your schedule</h2>
  </div>
  <div class="main-container-treatment mt-5 d-flex">
    <div class="schedules-container">
      <%= render "intakes/intakes_schedule", intakes: @morning_intakes, title: "Morning" %>
      <%= render "intakes/intakes_schedule", intakes: @afternoon_intakes, title: "Afternoon" %>
      <%= render "intakes/intakes_schedule", intakes: @evening_intakes, title: "Evening" %>
    </div>

    <div class="notifications-container">
    <div>
      <% ["morning", 'afternoon', 'evening'] .each do |time| %>
        <% if eval("@#{time}_intakes").any? { |intake| intake.should_be_taken? } %>
          <div class="rounded alert-danger p-3 mb-2" role="alert" id="<%= time %>-alert">
            <i class="fas fa-info-circle mr-2"></i><%= current_user.first_name %>, you need to take all your <%= time %> Meds!
          </div>
        <% end %>
      <% end %>

        <% @meds.each do |med|%>
          <% if med.stock <= 10  %>
            <div class="rounded alert-warning p-3 mb-2" role="alert">
              <i class="fas fa-info-circle mr-2"></i> <%= current_user.first_name %>, you are running out of <%= med.name %>!
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="weather_location" data-controller="weather-forecast">
         <p data-weather-forecast-target="city"> Weather in Barcelona </p>
         <small data-weather-forecast-target="date">15/09/21</small>
         <br>
         <small data-weather-forecast-target="weather">Cloudy ☁</small>
         <br>
         <small data-weather-forecast-target="temp"> 25</small>
      </div>
    </div>
  </div>
</div>
