<div class="main-container-treatment p-5 d-flex">
<div class="d-flex justify-content-between align-items-center border-bottom border-muted pb-2">
    <h2 class="m-0">Your schedules</h2>
  </div>
  <div class="schedules-container">
    <div class="long-card p-3 mt-3">
      <div class="d-flex justify-content-between align-items-center">
            <p> Morning</p>
            <i class="fas fa-mug-hot"></i>
      </div>
    </div>
    <div class="extend-schedules-card p-3">
      <div class="schedules-morning d-flex">
        <% @morning_schedules.each do |schedule| %>
          <div class="medcard mr-2">
            <%= cl_image_tag schedule.med.photo.key%>
            <div class="med-info d-flex flex-column">
              <p><%= schedule.med.name %></p>
              <small><%= schedule.time.strftime("%H:%M") %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="long-card p-3 mt-3">
      <div class="d-flex justify-content-between align-items-center">
            <p> Afternoon</p>
            <i class="fas fa-sun"></i>
      </div>
    </div>
    <div class="extend-schedules-card p-3">
      <div class="schedules-afternoon d-flex ">
        <% @afternoon_schedules.each do |schedule| %>
          <div class="medcard mr-2">
            <%= cl_image_tag schedule.med.photo.key%>
            <div class="med-info d-flex flex-column">
              <p><%= schedule.med.name %></p>
              <small><%= schedule.time.strftime("%H:%M") %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="long-card p-3 mt-5">
      <div class="d-flex justify-content-between align-items-center">
            <p> Evening</p>
            <i class="fas fa-moon"></i>
          </div>
        </div>
      </div>
    </div>
     <div class="extend-schedules-card p-3">
      <div class="schedules-afternoon d-flex">
        <% @evening_schedules.each do |schedule| %>
          <div class="medcard mr-2">
            <%= cl_image_tag schedule.med.photo.key%>
            <div class="med-info d-flex flex-column">
              <p><%= schedule.med.name %></p>
              <small><%= schedule.time.strftime("%H:%M") %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="notifications-container my-5">
    <div class="rounded alert-danger p-3 mb-2" role="alert">
      Walter, please, your pills, man!
    </div>
     <div class="rounded alert-danger p-3 mb-2" role="alert">
      Okay, do what you want, Walter, as always
    </div>
     <div class="rounded alert-danger p-3 mb-2" role="alert">
      I feel useless...
    </div>
  </div>
</div>
