<div class="p-5">
<div class="d-flex justify-content-between align-items-center border-bottom border-muted pb-2">
    <h2>Your schedule</h2>
</div>
<div class="main-container-treatment d-flex">
  <div class="schedules-container">

    <%= link_to intakes_path(anchor: "time04") do %>
      <div class="long-card p-3 mt-3">
        <div class="d-flex justify-content-between align-items-center">
              <p> Morning</p>
              <i class="fas fa-mug-hot"></i>
        </div>
      </div>
    <% end %>
    <div class="extend-schedules-card p-3">
      <div class="schedules-morning d-flex">
        <% @morning_intakes.each do |intake| %>
          <div class="medcard-schedule mr-2">
            <%= cl_image_tag intake.schedule.med.photo.key%>
            <div class="med-info d-flex flex-column">
              <p><%= intake.schedule.med.name %></p>
              <small><%= intake.due_date.strftime("%H:%M") %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to intakes_path(anchor: "time16") do %>
      <div class="long-card p-3 mt-3">
        <div class="d-flex justify-content-between align-items-center">
              <p> Afternoon</p>
              <i class="fas fa-sun"></i>
        </div>
      </div>
    <% end %>
    <div class="extend-schedules-card p-3">
      <div class="schedules-afternoon d-flex ">
        <% @afternoon_intakes.each do |intake| %>
          <div class="medcard-schedule mr-2">
            <%= cl_image_tag intake.schedule.med.photo.key%>
            <div class="med-info d-flex flex-column">
              <p><%= intake.schedule.med.name %></p>
              <small><%= intake.due_date.strftime("%H:%M") %></small>
            </div>
          </div>
        <% end %>
      </div>
      </div>

    <%= link_to intakes_path(anchor: "time22") do %>
      <div class="long-card p-3 mt-3">
        <div class="d-flex justify-content-between align-items-center">
              <p> Evening</p>
              <i class="fas fa-moon"></i>
            </div>
          </div>
    <% end %>
    <div class="extend-schedules-card p-3">
      <div class="schedules-afternoon d-flex">
        <% @evening_intakes.each do |intake| %>
          <div class="medcard-schedule mr-2">
            <%= cl_image_tag intake.schedule.med.photo.key%>
            <div class="med-info d-flex flex-column">
              <p><%= intake.schedule.med.name %></p>
              <small><%= intake.due_date.strftime("%H:%M") %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="notifications-container my-5">
    <div class="rounded alert-danger p-3 mb-2" role="alert">
      Walter, please, your pills, man!
    </div>
     <div class="rounded alert-danger p-3 mb-2" role="alert">
      Okay, do what you want, Walter, as always
    </div>
     <div class="rounded alert-danger p-3 mb-2" role="alert">
      I feel useless...
    </div>
  </div>
</div>
</div>
