<%= link_to intakes_path(anchor: "time10") do %>
      <div class="long-card p-3 mt-5">
        <div class="d-flex justify-content-between align-items-center">
              <p> <%= title %></p>
              <% if title == "Morning" %>
                <i class="fas fa-mug-hot"></i>
              <% elsif title == "Afternoon" %>
                <i class="fas fa-sun"></i>
              <% else %>
                <i class="fas fa-moon"></i>
              <% end %>
        </div>
      </div>
    <% end %>

<div class="extend-schedules-card p-3">
    <% if intakes.empty? %>
      <small>No meds to take in the <%= title.downcase  %></small>
    <% else %>
      <% intakes.each do |intake| %>
        <div>
          <div class="medcard-schedule mr-2 <%= "taken" if intake.taken? %> <%= "not-taken" if intake.should_be_taken? %> " data-intakes-taken-target="meds" id="intake-<%= intake.id %>">
            <%= cl_image_tag intake.schedule.med.photo.key%>
            <div class="med-info">
              <div>
                <p><%= intake.schedule.med.name %></p>
                <div class='block-infos'>
                  <small><%= intake.due_date.strftime("%H:%M") %></small>
                  <i class="fas fa-pills" class ="icon-btn def-dark wider p-2" data-intakes-taken-target="btn" data-action="click->intakes-taken#taken" data-id="<%= intake.id %>"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
